<h1><%= "#{@user.attributes['username']}" %></h1>

<% if current_user == @user %>
    <%= render 'form', url: user_path(@user)
<% end %>
<ul>
    <li><%= "Id: #{@user.attributes['id']}" %></li>
    <li><%= "Email: #{@user.attributes['email']}" %></li>
</ul>
