<% if medium.try(:parent) %>
  <hr>
    <div id='medium_parent_<%=medium.parent.id%>'>
      Belongs to this <%= medium.parent.class.name %>: <%= link_to medium.parent.title, medium_path(medium.parent.medium_id) %>      
    </div>
  <hr>
<% end %>