<% if medium.try(:parent) %>
    <hr>
        <div id='medium_parent_<%= medium.parent.id %>'>
            A member of <%= medium.parent.class.name %>: <%= link_to medium.parent.title, medium_parent(medium.parent.medium_id) %>
        </div>
    </hr>
<% end %>